.iconfont {
  margin-right: 8px;
}
.layui-icon {
  margin-left: 20px;
  margin-right: 8px;
}
.userInfo {
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: 1px solid #000;
}
.trxt-avatar {
  display: inline-block;

  text-align: center;
  line-height: 40px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #009688;
}
iframe {
  width: 100%;
  height: 100%;
  background-color: #f2f3f5;
}
.layui-body {
  overflow: hidden;
}
.layui-nav-img {
  display: none;
}
.layui-footer {
  text-align: center;
}
