* {
  margin: 0;
  padding: 0;
}
body {
  background: url("/assets/images/login_bg.jpg") no-repeat;
  background-size: cover;
}
.logo {
  margin-top: 20px;
}
.box {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  height: 60px;
  background: url("/assets/images/login_title.png") no-repeat center;
}
.layui-form {
  padding: 0 30px;
}
.layui-form-item {
  position: relative;
}
.layui-input {
  padding-left: 30px;
}
.layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.fr {
  margin-top: 20px;
  float: right;
}
/* 默认注册页面隐藏 */
.register {
  display: none;
}
