* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: url("/assets/images/login_bg.jpg") no-repeat;
  /* 按照容器大小铺满图片 */
  /* background-size: 100%; */
  /* 把背景图片放大到适合元素容器的尺寸,图片比例不变,但是要注意,超出容器的部分可能会裁掉 */
  background-size: cover;
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}
.logo {
  margin-top: 20px;
}
.box {
  position: absolute;
  width: 400px;
  height: 310px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  width: 100%;
  height: 60px;
  /* text-align: center;
  line-height: 60px; */
  background: url("/assets/images/login_title.png") no-repeat center;
}
.layui-form {
  padding: 0 30px;
}
.layui-form-item {
  position: relative;
}
.layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  /* text-align: center; */
}
.layui-input {
  padding-left: 30px;
}

.register {
  display: none;
}
.btn {
  float: right;
  margin-top: 20px;
}
